.timeline {
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #425c7f;
  width: 600px;
  height: 40px;
  border-radius: 10px;
  color: #fff;
}
.period {
  border-radius: 10px;
  width: 16.66%;
  margin-top: 0;
  margin-bottom: 0;
  box-sizing: border-box;
  display: inline-block;
  height: 40px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}
.period-active {
  background-color: #afb4ba;
}
.icon_footer{
  transform: scale(2.0);
  color: white;
  margin-left: 10%;
  margin-right: 10%;
}
.daily{
  width: 80wv;
  margin: 10px 10px 10px 10px;
  background-color: thistle;
  border-radius: 30px;
}